.gradient-btn {
    display: inline-block;
    padding: 16px 45px;
    background-color: #33f88d;
    box-shadow: inset 0 0 20px 5px #b0ff38, 0 4px 15px rgba(51, 248, 141, 0.2);
    color: #000000;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    border-radius: 50px;
    transition: var(--transition);
}

.gradient-btn:hover {
    transform: scale(1.03);
    box-shadow: inset 0 0 25px 8px #b0ff38, 0 6px 20px rgba(51, 248, 141, 0.4);
}

@media (max-width: 992px) {
    .gradient-btn {
        padding: 14px 36px;
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .gradient-btn {
        padding: 12px 28px;
        font-size: 1rem;
        max-width: 100%;
    }
}